@font-face {
  font-family: noiceFontLight;
  src: url(./font/static/Recursive/Recursive-Light.ttf);
}

@font-face {
  font-family: noiceFont;
  src: url(./font/static/Recursive/Recursive-Regular.ttf);
}

@font-face {
  font-family: noiceFontBold;
  src: url(./font/static/Recursive/Recursive-Bold.ttf);
}

@font-face {
  font-family: noiceFontSemibold;
  src: url(./font/static/Recursive/Recursive-SemiBold.ttf);
}

@font-face {
  font-family: noiceFontMedium;
  src: url(./font/static/Recursive/Recursive-Medium.ttf);
}
