@import './fonts.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: noiceFont /* , sans-serif */;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(157, 200, 248);
  height: 100vh;
  width: 100vw;
}
